/* @import "../../bootstrap-sass/assets/stylesheets/bootstrap"; 
replace full Bootstrap with only the parts used
*/

// Core variables and mixins
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/print";
/* @import "../../bootstrap-sass/assets/stylesheets/bootstrap/glyphicons"; */

// Core CSS
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/type";
/* @import "../../bootstrap-sass/assets/stylesheets/bootstrap/code"; */
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/grid";

// Components
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/wells";

// Utility classes
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";


/* add indent */
dd {
	margin-left: 1em;
	margin-left: 1rem;
	}

/* undo text-overflow */
.dl-horizontal {
	dt {
		overflow: visible;
		text-overflow: inherit;
		white-space: normal;
		}
}

@media (min-width: $screen-sm-max + 1) {
	.dl-horizontal {
		dd, dt {
			margin-bottom: .5em;
			margin-bottom: .5rem;
			}

		/* disable dl-horizontal at larger widths */
		dt {
			float: none;
			width: auto;
			text-align: start;
			}
		/* reset indent */
		dd {
			margin-left: 1em;
			margin-left: 1rem;
			}


		}
	}

@media (max-width: $screen-sm-max) {
	/* increase spacing for links */ 
	dd, dt {
		padding-top: 8px;
		padding-bottom: 8px;
		}
	}


.content-nav {
	@extend .col-md-4;
	@extend .col-md-push-8;
	}

.content-prose {
	@extend .col-md-8;
	@extend .col-md-pull-4;
	}