/* @import "../../bootstrap-sass/assets/stylesheets/bootstrap"; 
replace full Bootstrap with only the parts used
*/

// Core variables and mixins
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/normalize";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/print";
/* @import "../../bootstrap-sass/assets/stylesheets/bootstrap/glyphicons"; */

// Core CSS
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/type";
/* @import "../../bootstrap-sass/assets/stylesheets/bootstrap/code"; */
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/grid";

// Components
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/list-group";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/wells";

// Utility classes
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/utilities";
@import "../../bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

dd {
	margin-left: 1em;
	margin-left: 1rem;
	line-height: $line-height-base * 150%;
	}

.content-nav {
	@extend .col-md-4;
	@extend .col-md-push-8;
	}

.content-prose {
	@extend .col-md-8;
	@extend .col-md-pull-4;
	}